<div class="navbar navbar-dark bg-dark navbar-expand-sm navbar-light navbar-lewagon fixed-top shadow-lg">
    <div class="navbar-brand">
    <%= image_tag "bt.png" %>
    </div>

    <div class="items">
      <a><%= link_to "Bayreuther Haus", root_path %></a>
      <a><%= link_to "Wildpark", pages_wildpark_path %></a>
      <a><%= link_to "Freizeitaktivitäten", pages_freizeitaktivitaeten_path %></a>
      <a><%= link_to "Öffnungszeiten", pages_oeffnungszeiten_path %></a>
      <a class="">Anfahrt</a>
      <a class="">Kontakt</a>
      <a class="">Galerie</a>
      <a class="">Impressum</a>
    </div>
</div>
