<div class="navbar navbar-dark bg-dark navbar-expand-sm navbar-light navbar-lewagon fixed-top shadow-lg">
    <div class="navbar-brand">
    <%= image_tag "bt.png" %>
    </div>

    <div class="items">
      <a><%= link_to "Bayreuther Haus", root_path %></a>
      <a><%= link_to "Wildpark", pages_wildpark_path %></a>
      <a><%= link_to "Freizeitaktivitäten", pages_freizeitaktivitaeten_path %></a>
      <a><%= link_to "Öffnungszeiten", pages_oeffnungszeiten_path %></a>
      <a><%= link_to "Anfahrt", pages_anfahrt_path %></a>
      <a><%= link_to "Kontakt", pages_kontakt_path %></a>
      <a><%= link_to "Galerie", pages_galerie_path %></a>
      <a><%= link_to "Impressum", pages_impressum_path %></a>
    </div>
</div>
