<div class="navbar navbar-dark bg-dark navbar-expand-sm navbar-light navbar-lewagon fixed-top">
    <div class="navbar-brand">
    <%= image_tag "bt.png" %>
    </div>


    <h3 class="nav-item active">
      <%= link_to "Bayreuther Haus", "#", class: "nav-link" %>
    </h3>

    <h3 class="nav-item active">
      <%= link_to "Wildpark", "#", class: "nav-link" %>
    </h3>

    <h3 class="nav-item active">
      <%= link_to "Freizeitaktivitäten", "#", class: "nav-link" %>
    </h3>

    <h3 class="nav-item active">
      <%= link_to "Öffnungszeiten", "#", class: "nav-link" %>
    </h3>

    <h3 class="nav-item active">
      <%= link_to "Anfahrt", "#", class: "nav-link" %>
    </h3>

    <h3 class="nav-item active">
      <%= link_to "Kontakt", "#", class: "nav-link" %>
    </h3>

    <h3 class="nav-item active">
      <%= link_to "Galerie", "#", class: "nav-link" %>
    </h3>

    <h3 class="nav-item active">
      <%= link_to "Impressum", "#", class: "nav-link" %>
    </h3>
</div>